@{
    ViewData["Title"] = "Fast-Air System";
}

<div>
    <img src="~/FAlogo.png" />

</div>

<div class="text-center" style="color: blueviolet">    
    <h1 class="display-4">FAST-AIR - ARMS</h1>
    <p>
        <b>
            One stop shop for your air travel at multiple destinations.
        </b>
    </p>
</div>
