@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center" style="color: blueviolet">    
    <p>
        <b>
            <p>This website is for demo purpose only..</p>
        </b>
    </p>
</div>

